<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Fitness Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='temp.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<!-- *************HEADER************************ -->
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="name"> <a href="/home"> <label>FITNESS CLUB</label> </a></div>
            <ol>
                <li> <a href="/home">Home</a></li>
                <li> <a href="/about">About Us</a></li>
                <li> <a href="/membership">Membership</a></li>
                <button><a href="/signup"> Sign Up</a></button>
                <button><a href="/signin"> Sign In</a></button>
            </ol>
        </div>
    </nav>
<!--******************* BODY ***********************-->

    <div style="height: 50px; width: 100%; padding-top: 25px;">
        <span style="margin-left: 45%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bolder; font-size: 40px;"> <b> <u>ABOUT US</u></b></span>
    </div>
   <div class="test" style="background-color: rgb(156, 157, 238); margin-top: 50px;">
    <img src=".\static\machines.jpg" alt="Right Image 1" class="testimg" >
    <br><br>
        <div class="aboutimg1" style="opacity: 100%;" >
            <p style="margin-top: 1px;"><b>WELCOME!</b><br> <br>Welcome to Fitness Club, where your fitness journey meets excellence. At Fitness Club, we’re committed to helping you become the best version of yourself through state-of-the-art facilities, expert training, and a community that’s as dedicated to your success as you are.</p>
        
        </div>
   </div>
   <div class="test" style="background-color: rgb(240, 221, 199); margin-top: 40px;">
    <img src=".\static\runningss.jpg" alt="Left Image" style="width: 307px; height: 307px; float: left;border-radius: 150px;" >
    <p class="aboutimg" style="color: black;"> <b>OUR MISSION!</b> <br><br>Whether you’re here to lose weight, build strength, improve endurance, or simply maintain a healthy lifestyle, Fitness Club is your ultimate partner. We take pride in delivering results and making every member feel empowered, motivated, and supported.

        Join Fitness Club today, and discover what sets us apart. Together, we’ll turn your goals into achievements and fitness into a way of life!</p>
   </div>
   <div class="test" style="background-color: rgb(245, 126, 126); margin-top: 50px; margin-bottom: 40px;">
    <img src=".\static\machines 2.jpg" alt="Right Image 2" class="testimg">
    <div class="aboutimg1" style="margin-right: 8px;"><b>WHY FITNESS CLUB STANDS OUT?</b><br><br>Our gym is equipped with the latest fitness technology, designed to cater to every type of workout – from strength training and cardio to functional fitness and more. Our certified and experienced trainers are passionate about helping you achieve your goals. Whether you're a beginner or an advanced athlete, we craft personalized training plans tailored to your needs.</div>
   </div>


<!-- *****************FOOTER************************ -->
 <footer>
    <div class="container">
        <div class="contact" style="text-align: center;" >
            <h3>Contact Us</h3>
            <div>
                <span class="fas fa-phone-alt"></span>
                <span>Phone: 021-45678910</span><br>
           
                <span class="fas fa-envelope"></span>
                <span>Email: into@FitnessClub.com</span><br>
         
                <span class="fas fa-map-marker-alt"></span>
                <span>Address: Main Khayaban-e-Muslim, D.H.A Phase 6, Karachi.</span>
            </div>
        </div>
        <div class="link" style="text-align: center;">
            <h3>Quick Links</h3>
                <span><a href="/home">Home</a></span><br>
                <span><a href="/about">About</a></span><br>
                <span><a href="/membership">Membership</a></span><br>
                <span><a href="/signup">Sign Up</a></span><br>
                <span><a href="/signin">Sign In</a></span><br>                
        </div>
        <div class="follow" style="text-align: center;">
            <h3>Follow Us</h3>
                <ul class="social-icons">
                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                 <li><a href=""><i class="fab fa-twitter"></i></a></li>
                 <li><a href=""><i class="fab fa-instagram"></i></a></li>
                 <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
        </div>
    </div>
    
 </footer>
 <div class="bottomBar">
    <p>&copy; 2024 Fitness Club . All rights reserved</p>
</div>

</body>
</html>
